[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lpdensity"]
	path = lpdensity
	url = https://github.com/cran/lpdensity
[submodule "ramchoice"]
	path = ramchoice
	url = https://github.com/cran/ramchoice
[submodule "rddensity"]
	path = rddensity
	url = https://github.com/cran/rddensity
